.container{
    padding: 30px 30px 0px;
    text-align: center;
}
.header{
    margin-top: 10px;
    text-align: center;
}
.Sudo_ini{
    text-align: center;
    color: white;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Sudo_fin{
    text-align: center;
    color: white;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.game{
    height: 350px;
    background-color: rgb(27, 47, 53);
    display: flex;
    justify-content:space-around;
}
.grid{
    display: flex;
    justify-content: space-between;
}
.btn_jugar{
    width: 100%;
    text-align: center;
    background-color: rgb(27, 47, 53);
}
button{
    height: 50px;
    width: 80px;
}
input{
    width: 10%;
    text-align: center;
    font-weight: bold;
}
.footer{
    margin-top: 20px;
    text-align: center;
}  